.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #f3f3f4;
}

.mycard{
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(196,196,196,0.64);
  -moz-box-shadow: 5px 5px 5px 0px rgba(196,196,196,0.64);
  box-shadow: 5px 5px 5px 0px rgba(196,196,196,0.64);
}

.movieImage{
  border-bottom: 3px solid #4ec697;
  height: 410px;
  display: block;
  
}

.playbutton{
  position: absolute;
  height: 410px;
  width: 0;
  left: 0;
  top:0;
  /* right: 0; */
  /* bottom: 0; */
  overflow: hidden;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  background-color: black;
  font-size: 40px;
  transition: .5s ease;
  color: white;
  
  /* color: red; */
}
.mycard:hover .playbutton{
  /* left: 0; */
  height: 410px;
  width: 100%;
  top: 0;
  /* color:red; */
  /* opacity: 0.4; */
}

/* .playbutton{
  display: none;
} */

.playIcon:hover{
  color:red;
  cursor: pointer;
}


.duration{
  height: 40px;
  width: 40px;
  background-color: #4ec697;
  border-radius: 40px;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  
  
}

.duration p{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.duration span{
  font-size: 10px;
  font-weight: unset;
  margin-top: -15px;
}

.filmTitle{
  margin: 10px 15px 0px 15px;
  font-size: 16px;
  color: #333;
  /* margin-bottom: 20px; */
}

.genre{
  height: 17px;
  width: fit-content;
  border-radius: 17px;
  font-size: 9px;
  color: #999;
  background-color: #f4f4f4f4;
  position: relative;
  /* left: 10px;
  bottom: 10px; */
  padding: 10px;
  margin: 10px 0px 5px 10px;
  
}

.genre p{
  position: relative;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.sutradara{
  font-size: 11px;
  color: #666666;
  padding: 0px 15px 0px 15px;
  /* margin-bottom: 15px; */
}

.bgvideo{
  position: absolute;
  z-index: -1;
}

.content{
  /* width: 90%;
  height: 400px; */
  /* background-color: #666; */
  /* border: 1px solid red; */
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 100;
}

.imgDetail{
  padding: 0px;
  margin: 0px;
}

.imageDetail img{
  height: 100%;
  width: 100%;
}

.kotak{
  border: 1px solid green;
}

.contentBox{
  margin-left: 10px;
}

.titleDetail{
  font-size: 32px;
  font-weight: 600;
  color: white;
  padding-top: 0px;
}

.sutradaraDetail{
  font-size: 12px;
  color: white;
  margin-top: 10px
}

.genreDetail{
  height:26px;
  width: fit-content;
  padding: 5px;
  border: 1px solid white;
  border-radius: 26px;
  text-align: center;
  color: white;
  font-size: 11px;
  
}
.genreDetailDiv{
  margin-top: 10px
}
.timeDetail{
  font-size: 14px;
  color: white;
  margin-top: 10px;
}

.voteDetail{
  /* width: 700px; */
  /* height: 54px; */
  margin-top: 40px;
}

.thumbsContainer{
  width: 83px;
  height: 54px;
}

.thumbsDetail{
  font-size: 24px;
  color:#5fbb8e;
}
.thumbsDetail span{
  color: #333;
  font-weight: bold;
  margin-left: 5px;
}

.voteSUm{
  font-size: 11px;
  color: #999;
}

.will{
  height: fit-content;
  width: fit-content;
  padding: 6px 15px;
  border: 1px solid #5fbb8e;
  border-radius: 3px;
  color: #5fbb8e;
  font-size: 11px;
  font-weight: bold;
  text-align: center
  
}

.will:hover{
  background-color: #5fbb8e;
  color: white;
}

.maybe{
  height: fit-content;
  width: fit-content;
  padding: 6px 15px;
  border: 1px solid #f2a636;
  border-radius: 3px;
  color: #f2a636;
  font-size: 11px;
  font-weight: bold;
  text-align: center
  
}

.maybe:hover{
  background-color: #f2a636;
  color: white;
}

.wont{
  height: fit-content;
  width: fit-content;
  padding: 6px 15px;
  border: 1px solid #c03239;
  border-radius: 3px;
  color: #c03239;
  font-size: 11px;
  font-weight: bold;
  text-align: center
  
}

.wont:hover{
  background-color: #c03239;
  color: white;
}

.buy{
  height: 33px;
  width: 100%;
  padding: 6px 15px;
  border: 1px solid blue;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background-color:#007aff;
  cursor: pointer;
  
}

.buy:hover{
  background-color: blue;
  color: white;
}

.tabsDetail{
  height: 46px;
  /* width: 700px; */
  margin-top: 20px;
  border-bottom: thin solid #c2c2c2;
}

.liTabs{
  height: 46;
  width: fit-content;
  padding: 12px 8px 12px 0px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  margin-right: 25px;

}

.liTabs:hover{
  border-bottom: 2px solid #5fbb8e;
}

.imageDetail{
  border-bottom: 2px solid 5fbb8e;
}

.imageDetail img{
  height: 341px;
}

.contentTitle{
  margin-top:20px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  width: 700px;
}

.textDetail{
  margin-top: 15px;
  font-size: 14px;
  color: #666;
  width: 700px;
}

.sutradaraDetail{
  margin-top:10px;
  font-size: 12px;
  font-weight: 700;
  color:#666;
}

.foother{
  margin-top: 150px;
}

.playVideo{
  width: 100%;
  height: 400px;
  position: absolute;
  top:54px;
  z-index: 2;
  text-align: center;
  align-content: center;
  background: transparent;
  cursor: pointer;
}

.menuHeader{
  color: white;
  font-style: unset;
}

.menuHeader:hover{
  width: 100%;
}

.nestedList{
  padding-left: 30px;
  margin-left: 30px;
  background-color: green;
}

.banner{
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.banner img{
  height: 100%;
}

.footer{
  background-color: #282c34;
  color: #fff;
  
}

.all100{
  width: 100%;
  height: 50%;
}